/* body {
  background: #2c3e50;
} */
purple {
  color: #9c4ca5;
}
red {
  color: #fa4a71;
}
blue {
  color: #086df1;
}

body {
  font-family: Futura, Helvetica, sans-serif;
}
table {
  border-collapse: collapse;
  margin: auto;
}
nav li {
  text-align: center;
  list-style:none;
}

th, td {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 80px;
}
.scores {
  text-align: center;
  /* display: inline; */
  margin: auto;
}

.playerX {
  display: inline-block;
  padding: 30px;
}

.playerO {
  display: inline-block;
  padding:10px;
}