/* body {
  background: #2c3e50;
} */
purple {
  color: #9c4ca5;
}
red {
  color: #fa4a71;
}
blue {
  color: #086df1;
}

body {
  font-family: Futura, Helvetica, sans-serif;
}
table {
  border-collapse: collapse;
  margin: auto;
}
nav {
  text-align: center;
}
/*nav li {
list-style:none;
border-radius: 50px;
border: 3px solid;
background: none;
padding: 25px 10px;
} */
button {
  text-align: center;
}
div {
  text-align: center;
}
th, td {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 70px;
}
.scores {
  text-align: center;
  /* display: inline; */
  margin: auto;
}

.player0 {
  display: inline-block;
  padding: 30px;
}

.player1 {
  display: inline-block;
  padding:10px;
}