<html>
  <head>
      <meta charset="utf-8">
      <title>CSV Report Generator</title>
      <link rel="stylesheet" href="style.css">
    </head>
  <body>
    <h1>CSV Generator</h1>
    <form method="POST" enctype="multipart/form-data"><!-- action="/upload_json" -->
      <textarea id="msg" name="JSONmsg"></textarea>
      <!-- Format multer settings to properly accept a file to be uploaded -->
      <input type="submit" value="Submit">
      <button>Download</button>
    </form>
    <!-- Create a place for the CSV File to be downladed -->

    <table>
      <tr>
        <% if (columnHeaders) { %>
          <% columnHeaders.forEach((val) => { %>
            <th><%- val %></th>
          <% }); %>
        <% } %>
      </tr>
      <% if (rowData) { %>
      <% rowData.forEach((row) => { %>
      <tr>
        <% row.forEach((val) => { %>
            <th><%- val %></th>
        <% }); %>
      <% }); %>
      </tr>
     <% } %>
    </table>
    <script src="app.js"></script>
  </body>
</html>